/* accordion */
.accordion {
  cursor: pointer;
  padding: 10px;
  margin-block: 8px;

  &-header {
    background-color: rgba(#fff, .4);
    color: #000;
    padding: 4px;
    border-radius: 10px;

    &::marker {
      color: #fff;
      font-size: 20px;
    }
  }

  &-body {
    padding: 12px;
    margin: 8px;
    background-color: rgba(#000, 0.2);
  }
}
